
.locationTitle{
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(8, 8, 8, 0.65);
  padding-left: 35px;
}
.locationAddress
{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(8, 8, 8, 0.65);
}

.locationPriceCondition{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  justify-content:space-around;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(8, 8, 8, 0.65);
}

.locationInfoCnt{
  display: flex;
  justify-content:space-around;
}
.locationInfoCnt>a{
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  justify-content:space-around;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(8, 8, 8, 0.65);
}
.locationInfoCnt>a:visited{
  text-decoration: none;
}
.OvReCo_btn {
  height: 35px;
  width: 140px;
  background: #F4ECE6;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: solid;
  border-width: 2px;
}
.OvReCo_btn:hover{
  background: #f9d9c1;
}

.locationTags{
  display: flex;
  justify-content: space-around;
}
.locationTags>p{
  height: 35px;
  width: 170px;
  background: #DA4545;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.subtitle{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgb(8, 8, 8);
  padding-left: 35px;
}
.locationFacilities{
 display: flex;
 justify-content: flex-start;
 padding-left: 35px;
 
}
.locationFacility{
  margin:10px;
  height: 35px;
  width: 170px;
  background: #F4ECE6;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
@media only screen and (max-width: 550px) {
.locationFacilities{
  padding-left: 0;
  align-items: center;
  flex-direction: column;
}
.locationSurfaceFor{
  flex-direction: column;
  padding-left: 0;
  align-items: center;
}
.locationTags{
  flex-direction: column;
  padding-left: 0;
  align-items: center;
}
.OvReCo_btn{
  height: 20px;
  width: 100px;
}
.locationPriceCondition{
  flex-direction: column;
  align-items: center;
  padding-left: 0;
}
.locationAddress{
  align-items: center;
  padding-left: 0;
}
.locationTitle{
  flex-direction: column;
  align-items: center;
  padding-left: 0;
}
}
.subtitleSmaller{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(8, 8, 8, 0.65);
  
}
.locationSurfaceFor{
  display: flex;
  justify-content: space-around;
}
.locationSurfaceFor > p{
  height: 35px;
  width: 170px;
  background: #F4ECE6;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

}
#locationForRent{
 color: black;
 font-weight: 100;
 text-transform: uppercase;
}
#locationForSale{
  color:#DA4545;
  font-weight: bold;
  text-transform: uppercase;
}
.locationOverviewDates{
  height: 35px;
  width: 100px;
  background: #F4ECE6;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 5px;
}
.locationDates{
  display: flex;
  flex-direction: row;
  padding-left: 35px;
}
.locationReview{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.07em;
  color: rgba(8, 8, 8, 0.65);
}
.descText{
  padding-left: 35px;
}



.rent_btn_container{
  display: flex;
 justify-content: center;
}
.rent_btn{
  height: 40px;
  width: 100px;
  border-radius: 7px;
  background: #DA4545;
  display: flex;
  justify-content: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.25em;
  text-align: center;
  color: white;
  text-transform: uppercase;
}
.rent_btn:hover{
  cursor: pointer;
}
.rent_form_container_container{
  display: flex;
  justify-content: center;
}
.rent_form_container {
  display: none;
  width: 200px;
  height: 30%;
  justify-content: center;
  align-items: center; 
  background: #BBBABA;
  border-radius: 7px;
}

.rent_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rent_form label {
  font-family: 'Playfair Display';
}

.rent_form input {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 7px;
  border: none;
  box-shadow: 0 2px 5px 0 grey;
  padding: 0 10px;
}

.rent_form .row {
  display: flex;
  flex-direction: column;
  width:50%;
}

.rent_form input[type="submit"] {
  width: 100%;
  color: white;
  font-weight: bold;
  background-color: #DA4545;
}
.hidden{
  display: none;
}
.expanded{
  display:block;
}
.rent_form_cancel{
  box-shadow: 0 2px 5px 0 grey;
  padding: 0 10px;
  border: none;
  border-radius: 7px;
  height: 20px;
  width: 100px;
}
.rent_form_cancel:hover{
  cursor: pointer;
}