@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');


:root {
    --color1: white;
    --color2: #DA4545;
    --color3: #F4ECE6;
    --color1darkened: hsl(327, 12%, 28%);
}

.div1 {
    margin: 0px;
    padding: 0px;
    position: absolute;
    z-index: 10;
    width: 100%;
    float: top;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    background-color: var(--color1);
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;

    .left-section {
        margin-left: 3vw;
        width: 37vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .logo {


            white-space: nowrap;

            * {
                font-family: 'Playfair Display', serif;
                font-size: 60px;
            }

            #logo-E {
                color: #3D3D3D
            }

            #logo-Ma {
                color: #8D0808;

            }




        }

        .search-bar {
            border-radius: 0.75vh 0.75vh 0.75vh 0.75vh;
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 1px solid #E3E3E3;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            position: relative;


            input {
                border: none;
            }

            #ui-magnifier {
                position: relative;
                display: block;
                box-sizing: border-box;
                min-height: 100%;
                min-width: 100%;
                padding: 0;
                border-radius: 0 0.75vh 0.75vh 0;
                background-color: var(--color2);
                align-items: center;
                justify-content: center;
                display: flex;
                flex: 1;

            }
        }
    }

}






// .div1 {
//     margin: 0px;
//     padding: 0px;
//     z-index: 10;
//     position: relative;
//     width: 100%;
//     float: top;
//     box-sizing: border-box;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     min-height: 8vh;
//     background-color: var(--color1);
//     .logo{
//         color: var(--color2);
//         text-transform: uppercase;
//         letter-spacing: 5px;
//         font-size:22px;
//     }
//     .filterList{
//         display:flex;
//         justify-content: space-around;
//         width: 40%;
//         a{
//             color: var(--color2);
//             text-decoration:none;
//             letter-spacing: 3px;
//             font-weight: bold;
//             font-size:12px;
//             text-transform: uppercase;
//         }
//         li{
//             list-style:none; 
//         }
//     }
//     .filterButton{
//         display:none;
//        div{
//          width:1.3em;
//         margin:0.1em;
//         height:0.18em;
//         background-color: var(--color2);
//         border-radius: 1em;
//     }

//     }
//     .accountButtons{
//          position:relative;
//         display:flex;
//         margin:0;
//         width:25%;
//         justify-content: space-between;
//         a{
//             color: var(--color2);
//             text-decoration:none;
//             letter-spacing: 3px;
//             font-weight: bold;
//             font-size:12px;
//             text-transform: uppercase;
//         }
//         li{
//             list-style:none;
//             align-self: center;
//             cursor:pointer;
//         }
//         #addApartment{
//             background-color: var(--color3);
//             height: 3vh;
//             width: 6em;
//             display:flex;
//             justify-content: center;
//             align-items: center;
//             border-radius: 0.5em;
//         }
//     }

// }

// @media screen and (max-width:800px){

// .div1{//if overflow issues: overflow-x: hidden

//     .filterList{
//         position: absolute;
//        z-index: inherit;
//         width:100%;
//         height:3.5vh;
//         top:8vh;
//         background-color: var(--color1darkened);
//         display:flex;
//         justify-content: space-evenly;
//         align-items: center;
//         transition: transform 0.25s ease-out;
//         transform:  translateX(100%);
//       li{
//           opacity: 1;
//       }

//     }
//     .filterButton{
//         display:flex;
//         flex-direction:column;
//         align-items: center;
//         cursor:pointer;

//        div{
//           margin:0.2em;
//        }
//     }
//     .accountButtons{
//         width: 35%;
//         display:flex;
//         align-items: center;
//         justify-content: space-between;
//         li{
//             margin:0.2em;
//         }
//     }

// }

// }

// .filterButton-active{

//     transform: translateX(0%)  !important;
// }