:root {
  --color1: #5d4954;
  --color2:rgb(206, 206, 206);
  --color3:#49505d;
  --color1darkened:hsl(327, 12%, 28%);
}

.div1 {
  margin: 0px;
  padding: 0px;
  z-index: 10;
  position: relative;
  width: 100%;
  float: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background-color: var(--color1);
}

.div1 .logo {
  color: var(--color2);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
}

.div1 .filterList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
}

.div1 .filterList a {
  color: var(--color2);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.div1 .filterList li {
  list-style: none;
}

.div1 .filterButton {
  display: none;
}

.div1 .filterButton div {
  width: 1.3em;
  margin: 0.1em;
  height: 0.18em;
  background-color: var(--color2);
  border-radius: 1em;
}

.div1 .accountButtons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: 25%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.div1 .accountButtons a {
  color: var(--color2);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

.div1 .accountButtons li {
  list-style: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

.div1 .accountButtons #addApartment {
  background-color: var(--color3);
  height: 3vh;
  width: 6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.5em;
}

@media screen and (max-width: 800px) {
  .div1 .filterList {
    position: absolute;
    z-index: inherit;
    width: 100%;
    height: 3.5vh;
    top: 8vh;
    background-color: var(--color1darkened);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .div1 .filterList li {
    opacity: 1;
  }
  .div1 .filterButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .div1 .filterButton div {
    margin: 0.2em;
  }
  .div1 .accountButtons {
    width: 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .div1 .accountButtons li {
    margin: 0.2em;
  }
}

.filterButton-active {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}
/*# sourceMappingURL=div1style.css.map */