.header{
  width: 0;
}
.logo_search{
  padding-top: 20px;
  display: flex;
}
#logo{
    
  padding-left: 35px;
  font-family: "Playfair Display", serif;
  font-size: 48px;
  white-space: nowrap;
}
#logo-E{
    color: #3d3d3d;
}
.logo-Ma{
    color: #8d0808;
}
#search{
  padding-left: 20px;
  margin-right: 20%;
  display: flex;
  height:40px;
  width: 150px;
  
}
#ui-magnifier_black{
  display: none;
}
#recommendations{
  padding-left: 35px;
  display: flex;
 }
.recommendations_btn{
  height: 20px;
  background: none;
  border: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(8, 8, 8, 0.65);
}
.recommendations_btn:hover{
  cursor: pointer;
}
#search input {
  border: solid;
  padding-top: 3px;
  padding-left: 16px;
  padding-right: 16px;
  color: #777575;
  font-size: 15px;
  border-radius: 4px 4px 4px 4px;
  height: 100%;
  outline-width: 0;
}

#search .autocomplete-box{
  position:absolute;
  display:inline-block;

  background-color: #f9f9f9;
  margin-top: 3.2em;
  box-shadow:0em 1px 5px rgba(0,0,0,0.12);

}

.autocomplete-box li{
background-color: #f9f9f9f9 ;
list-style:none;
padding: 0;
padding: 0.5em 0.2em 1em 0.8em;
overflow-y: auto;
overflow-x: hidden;
width:100%;
cursor:default;
border-radius:3px;
}

.autocomplete-box li:hover{
  background: #efefef;
  
}

#search .ui-icons {
  padding-top: 3px;
  
}
#ui-magnifier:hover {
  cursor: pointer;
}
.filters{
  padding-left: 20px;
}
.filters>button{
 height: 50px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 text-align: center;
}
#filters-modal-toggle{
    color: white;
    height: 50px;
    width: 50px;
    background: #8d0808;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: solid;
    border-width: 2px;
}
.documentations{
  display: flex;
    /* flex-direction: column; */
    padding-left: 100px;
}

.documentation{
  width: 120px;
  text-decoration: none;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;
  color: rgba(8, 8, 8, 0.65);
}
@media only screen and (max-width:1130px)
{
  .documentations{
    display: none;
  }
}
@media only screen and (max-width: 550px) {
  .logo_search{
    padding-top: 10px;
  }
  #logo{
    padding-left: 10px;
    font-size: 30px;
  }
   #search{
    height: 25px;
    padding-left: 10px;
   }
   #search>input{
    width: 100px;
   }
   #ui-magnifier{
    display: none;
   }
   #ui-magnifier_black{
    position: absolute;
    left: 165px;
    display: block;
    padding-top: 3px;
   }
   #recommendations{
    padding-left: 0;
    
   }
   .recommendations_btn{
   font-size: 15px;
   letter-spacing: 0;
   padding: 3px;
   }
   #search input{
    padding-left: 5px;
   }
   .filters{
    padding-left: 0;
   }
   .filters>button{
    height: 35px;
   }
   #search .autocomplete-box{
    display:none;
   }
   #filters-modal-toggle{
    padding-top: 0;
    height: 40px;
    width: 40px;
   }
}
@media only screen and (max-width: 300px) {
  .filters>button{
    width: 25px;
   }
   #filters_btn_txt{
    display: none;
   }
   #filters-modal-toggle{
    width: 30px;
   }
 }