
// body{
//     background-position: center;
// .user-button{
  
//     top: 5%;
//     left: 95%;
// button{
//     top: 5%;
//     left: 95%;
//     display: flex;
//     align-items: flex-end;
//     justify-content: flex-end;
//     position:relative;
//     border-radius:50%;
//     width: 40px;
//     height: 40px;
//     background-color:#F4ECE6;
//     img{
//         margin-left: 8px;
//         position: fixed;
//         width: 40px;
//         height: 40px;
        
//     }
// }
// .form-structure{
//     width: 300px;
//     height: 300px;
//     position:absolute;
//     display: flex;
//     right: 1%;
//     top: 10%;
//     border-radius: 10%;
//     border-width: 100px;
//     border-color: cyan;
//     form{
//         background-position: center;
//         right: 5%;
//         img{
//             right:1%; 
       
//         }
//     }
// }
//}
//}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.clickUser{
    width: 200px;
    position: relative;
}

.click{
    height: 35px;
    background-color: #da4545;
    border-radius:100%;
    button{
        width: 50px;
    }
}

.click:hover{
    background-color: aquamarine;
}

.LinkSignIn {
    display: inline-flex;
    padding: 20px;
    font-size: 1.2em;
    border: none;
    outline: none;
    width: 100px;
    height: 20px;
    color: white;
    border-radius: 10%;
    background-color: #da4545;
    align-items: center;
    font-family: 'Poppins',sans;
    text-align: center;
    margin: auto;
}
.LinkSignUp {
    display: inline-flex;
    padding: 20px;
    font-size: 1.2em;
    border: none;
    outline: none;
    width: 100px;
    height: 20px;
    color: white;
    border-radius: 10%;
    background-color: #45DADA;
    align-items: center;
    font-family: 'Poppins',sans;
    text-align: center;
    margin: auto;
}
button{
    #SignIn:hover{
        background-color: black;
    }
}
.optionsSettings{
    position: absolute;
    transform: scaleY(0);
    transform-origin:top;
    transition: 0.3s;
}
.newoptionsSettings{
    transform: scaleY(1);
}

input{
    width: 171px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: solid gray 0 0 80%;
    margin-bottom: 5px;
    margin-top: 5px;
}
