$color1: white;
$color2: #da4545;
$color3: #e5e5e5;
$color1darkened: hsl(327, 12%, 28%);
$font-family: "Poppins",
serif;
$logo-font-family: "Playfair Display",
serif;
$box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);



.div1 {
    min-width: 450px;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 3.5em;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    background-color: $color1;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;

    .left-section {
        margin-left: 3vw;
        width: 50%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .logo:hover {
            cursor: pointer;
        }

        .logo {
            white-space: nowrap;
            margin-right: 1em;
            padding-bottom: 0.5em;

            * {
                font-family: $logo-font-family;
                font-size: 48px;
            }

            .logo-E {
                color: #3d3d3d;
            }

            .logo-Ma {
                color: #8d0808;
            }

        }

        .search-bar {
            margin-left: 1em;
            margin-right: 20%;
            border-radius: 0.4em 0.4em 0.4em 0.4em;
            display: flex;
            flex-direction: row;
            align-items: center;
            box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
            position: relative;
            height: 2.5em;
            width: 20em;
            justify-content: space-between;

            input {
                border: none;
                padding-left: 1em;
                padding-right: 1em;
                color: #777575;
                font-size: 15px;
                border-radius: 0.4em 0.4em 0.4em 0.4em;
                height: 100%;
                width: 100%;
                outline-width: 0;
                font-family: $font-family;
                min-width: 10em;
            }

            .ui-icons {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 6em;
                height: 100%;

                .ui-magnifier:hover {
                    cursor: pointer;
                }

                .ui-magnifier {
                    position: relative;

                    box-sizing: border-box;
                    height: 100%;
                    padding: 0;
                    border-radius: 0 0.4em 0.4em 0;
                    background-color: $color2;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    flex: 0 1 3em;

                    img {
                        width: 1.8em;
                    }
                }

                .ui-filter>.ui-filter-icon {
                    width: 60%;
                    padding-top: 15%;
                }

                .ui-filter:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .right-section {
        margin-right: 2vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 15em;
        height: 100%;

        .add-apartment {
            font-family: $font-family;
            font-weight: 500;
            color: #595959;
        }

        .add-apartment:hover {
            cursor: pointer;
        }

        .account-button {
            border: none;
            border-radius: 50%;
            background-color: $color2;
            width: 2.8em;
            height: 2.8em;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-left: 3em;

            p {
                font-family: $font-family;
                color: white;
                align-self: center;

                font-weight: bold;
                font-size: 25px;
                flex: 0 1;

                text-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;
            }
        }

        .account-button:hover {
            cursor: pointer;
        }
    }

    .filters-mobile {
        position: absolute;
        height: 100%;
        background-color: red;
    }
}

// FILTERS DESKTOP
.filter-window {
    position: absolute;
    top: 0;
    pointer-events: none;
    opacity: 0;
    display: flex;
    align-items: center;

    justify-content: center;
    height: 0;
    background-color: $color1;
    align-self: center;
    transform: translateY(-10%);
    transition: ease-in-out 0.15s;
    border-radius: 7px 7px 7px 7px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    flex-flow: row wrap;
    font-family: $font-family;

    li:first-child {
        border-radius: 7px 7px 0 0;
    }

    li:last-child {
        border-radius: 0 0 7px 7px;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;

        a {
            text-decoration: none;

        }

        .submit>* {
            background-color: $color2;
            color: $color1;

        }

        .price-input {
            padding:0.1rem;
            display:flex;
            flex-direction: column;
            div{
                display:flex;
                flex-direction: row;
                justify-content: space-evenly;
                margin:0;
                padding-bottom: 0.5rem;
              
                * {
                    font-size: medium;
                }
            }
            flex-shrink: initial;
           

            input {
                width: 1%;
            }
        }

    }


    .menu-item {
        min-width: max-content;
        list-style: none;
        border-top: 1px solid #777575;
        ;
        overflow: hidden;

        a {
            color: #3d3d3d;

        }
    }

    .button {
        display: block;
        padding: 0.5rem 1rem;
        background: $color1;
        color: white;
        position: relative;

        i {
            margin-right: 0.2rem;
        }
    }

    .menu-item__sub {
        background: $color3;
        overflow: hidden;
        transition: max-height 0.3s;
        max-height: 0;

        a {
            display: block;
            padding: 0.1rem 0.16rem;
            color: white;
            font-size: 0.9rem;
            position: relative;
            border-bottom: 1px solid gray;
        }
    }

    .menu-item:target .menu-item__sub {
        max-height: 50vh;

    }
}

.filter-window.active {
    margin-top: 2.75rem;
    opacity: 1;
    pointer-events: all;

}

//END FILTERS DESKTOP

@media screen and (max-width: 650px) {
    .div1 {
        .right-section {
            .add-apartment {
                display: none;
            }
        }
    }
}